.DS_Store
.vscode/
.sqbpro
setup_smoke_test.qmd
setup_smoke_test.html
setup_smoke_test_files/

# Ignore everything inside tutorials
02_activities/tutorials/*

# Re-allow the folder itself
!02_activities/tutorials/

# Re-allow only these two files
!02_activities/tutorials/tutorial_1.qmd
!02_activities/tutorials/tutorial_2.qmd

# Data directory: keep placeholder only
02_activities/data/*
!02_activities/data/.gitkeep